/* style every other card */
.card:nth-child(2n){
    background-color: #D7EDEE;
}

.card:nth-child(2n+1){
    background-color: var(--white);
}


.card {
    box-shadow: 15px 15px 0 var(--primary-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;

    justify-content: center;
    align-items: center;

    padding: 50px 20px;

    background: var(--white);
    border: none;
    border-radius: 0;

}

.card-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card .card-img {
    width: 100%;
    max-width: 420px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.card h1, .card h2 {
    font-weight: 300;
}

.card img.large {
    margin: auto;
}


#card-header {
    box-shadow: 0 15px 0 #f00;
}

#card-about {
    flex-direction: column;
    box-shadow: 0 15px 0 #D38530;
}

#card-projects {
    box-shadow: 0 15px 0 #A930D3;
}

#card-header .button {
    background-color: #f00;
    color: var(--white);
    padding: 5px 20px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

#card-header em {
    color: #f00;
    text-align: center;
}

#card-about a {
    color: #D38530;
}


#card-projects a {
    color: #A930D3;

}

/* medium screens */
@media (min-width: 700px) {


    .content:has(.card) {
        gap: 50px;
    }


    .card {
        /* overwrite every other colour changing */
        background-color: var(--white) !important;

        flex-direction: row;
        text-align: left;
        gap: 2rem;
        margin-bottom:2rem;

        border: 5px solid var(--black);
        border-radius: 25px;
    }

    .card .card-img {
        width: 20rem;
    }

    #card-header {
        box-shadow: 15px 15px 0 #f00;
    }

    #card-projects {
        box-shadow: 15px 15px 0 #A930D3;
    }

    #card-about {
        flex-direction: row-reverse;
        box-shadow: 15px 15px 0 #D38530;
    }


}