.card.card-has-large{
    text-align: center;
    flex-direction: column;
}

img.large {
    width: 100%;
    background-color: var(--white);
    border-radius: 20px;
    object-fit: scale-down;
}



img.large:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.img-large-wrapper.focus img.large {
    filter: brightness(100%) !important;
}

.img-large-wrapper.focus img.large{
}

.img-large-wrapper.focus img.large {
    max-width: 80vw;
    max-height: 80vh;
    background-clip: padding-box;
}

.img-large-wrapper.focus {
    width: 100vw;
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    display: flex;
    background-color: rgba(0,0,0,0.5);
}

.img-large-expand {
    margin-top: 10px;
    cursor: pointer;
}