.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.width-inherit {
  width: inherit;
}

.px-50 {
  padding: 0 50px;
}

.d-inline{
  display: inline;
}

@media (min-width: 700px) {
  .d-md-none {
    display: none;
  }

  .row-reverse {
    flex-direction: row-reverse !important;
  }
}