:root {
  --navbar-height : 5rem;
}

@font-face {
  font-family: ayuthaya;
  src: url(Ayuthaya.ttf);
}

nav {
  display: flex;
  flex-direction: column;

  background-color: black;
  color: white;
  
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.7rem;

  /* appear above the mockups positioned as relative */
  z-index: 2;

}

nav ul {
  margin: 0;
}

nav h1 {
  font-family: 'ayuthaya', sans-serif !important;
  font-size: 25px;
}

#nav-header {

  height: var(--navbar-height);

  background-color: black;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem ;
  align-items: center;

  position: relative;
  z-index: 4;

}


#nav-content {
  --nav-content-height: 12rem;

  height: var(--nav-content-height);
  transition: 0.2s ease;

  list-style-type: none;

  position: relative;
  z-index: 3;
}

nav.hidden #nav-content {
  /* move the navbar content up and shrink to invisible */
  transform: translateY( calc(var(--nav-content-height) * -1) );
  height: 0;
  transition: 0.2s ease;
}

#nav-content * {
  margin-bottom: 1rem;
}

#nav-button:hover{
  cursor: pointer;
}

/* style the item below the nav */
body > *:nth-child(2) {
  margin-top: var(--navbar-height);
}

@media (min-width: 700px) {

  #nav-button {
    display: none;
  }

  nav {
    flex-direction: row;
    justify-content: space-between;

    font-size: 1.2rem;
  }

  #nav-content {
    height: inherit !important;
    transform: none !important;

    display: flex;
    flex-direction: row;
    align-items: center;

  } 

  #nav-content * {
    margin-bottom: 0;
    margin-right: 1.5rem;
  }

}