.page-tabs {
    display: flex;


    box-sizing: border-box;

    outline: var(--black) 1px solid;

}

.page-tabs .tab {
    flex: 1;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;

    text-align: center;

    padding: 10px 0;
    color: var(--black);
    background-color: rgba(255, 255, 255, 1);

    cursor: pointer;
}

.page-tabs .selected {
    background-color: var(--primary-color);
    color: var(--white);
}

.default-hide {
    display: none;
}

@media (max-width: 700px) {
    .page-tabs .tab .label-desc{
        display: none;
    }

    .page-tabs .tab .label {
        font-size: 3rem;
    }
}

