/* Planetgo portfolio designing */

@import url("https://fonts.googleapis.com/css2?family=Playfair Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open Sans:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

p {
  margin: 0;
  
}


main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 800px;
}


.container {
  /* margin-top: 40px; */
  margin: 40px 20px 0 20px;
  max-width: 800px;
}

.default_hide {
  display: none;
}

.light {
  background-color: rgba(252, 241, 227, 1);
  color: black;
}

.dark {
  background-color: #232323;
  color: white;
}

.dark p, .dark h1 {
  font-family: Source Code Pro, sans-serif;
}

.header {
  align-items: flex-start;
  gap: 1px;
  /* width: fit-content; */
  box-sizing: border-box;
}


h1 {
  font-size: 32px;
  line-height: 32px;
  font-family: Playfair Display, serif;
  font-weight: 700;
}

.description {
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  padding: 30px 75px 7px;
  box-sizing: border-box;
}


.banner {
  align-items: center;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}

.product-banner {
  width: 100%;
  /* width: 948px;
  height: 140px; */
}


p, ul{
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  letter-spacing: -0.48px;
}

.align-center {
  text-align: center;
}


.tags {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-bottom: 10px;

  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}

.col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex: 1;
  height: 100%;
  box-sizing: border-box;
}

.align-start {
  align-items: flex-start;
}


.tag {
  align-items: flex-start;
  gap: 10px;
  padding: 7px 16px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: rgba(130, 130, 130, 1);
}

.tags-primary .tag {
  background-color: rgba(55, 119, 255, 1);
}

.dark .tags-primary .tag{
  background-color: #FF7337;
}

.tag-text {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 16px;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
}

em {
  font-style: normal;
  font-weight: 500;
}


.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  padding: 50px 20px;
  box-sizing: border-box;

}

.navigation .button:first-child{
  border-radius: 10px 0 0 10px;
}

.navigation .button:last-child{
  border-radius: 0 10px 10px 0;
}



.designing {
  font-size: 16px;
  line-height: 16px;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
}

.button {
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding: 10px 50px;
  box-sizing: border-box;
  color: black;
  background-color: rgba(255, 255, 255, 1);

  cursor: pointer;
}

.selected {
  background-color: rgba(55, 119, 255, 1);
  color: white;
}

.dark .selected {
  background-color: #FF7337;
}

.developing {
  font-size: 16px;
  line-height: 16px;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
}


.section {
  display: flex;
  flex-direction: column;
}

.subsection-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}

.subsection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}




.mockups {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  /* row-gap: 20px; */
  column-gap: 25px;
  width: 100%;
  margin-bottom: 20px;
}

.mockups img {
  width: inherit;
  max-width: 160px;
}


.image {
  gap: 10px;
  max-width: 250px;
  height: 250px;
}

.footer {
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* row-gap: 20px; */
  column-gap: 25px;

  /* 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box; */
}

.title-list {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  /* 
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box; */
}

h2 {
  font-size: 24px;
  line-height: 24px;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.72px;
  margin-bottom: 20px;
}

.descriptions {
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
}

.description {

  align-items: center;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}

.show-outing-desktop {
  max-width: 500px;
  height: 100%;
}




.lighthouse-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  width: 100%;
  box-sizing: border-box;
}

.lighthouse-rings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
}




.lighthouse-report {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  width: 100px;
  height: 100px;

  border: 5px solid rgba(89, 194, 109, 1);
  border-radius: 100px;
  box-sizing: border-box;
  background-color: rgba(31, 46, 38, 1);
}


.lighthouse-orb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(89, 194, 109, 1);
  font-size: 35px;
  line-height: 35px;
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
  text-align: center;

}

.lighthouse-titles {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}



/* mobile screens */
@media (min-width: 800px) {
  .container {
    margin: 40px 0 0 0;
  }
  .subsection {
    flex-direction: row;
  }

  .row-reverse {
    flex-direction: row-reverse;
  }
}







/* ************* dev page *************** */







