:root {
  --stacked-image-padding: 50px;
}



h1, h2, h3, p, li, .button {
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
}

body {
  
  /* this is added for the footer */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* consider links with icons: icons must be centered */
a:has(svg){
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

svg {
  fill: currentcolor
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover{
  filter: brightness(80%);
}

main {  
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-top: 2rem;
}

.content {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: min(100%, 1000px);

}

/* style every other card */
.card:nth-child(2n), section:nth-child(2n){
  background-color: #D7EDEE;
}

.card:nth-child(2n+1), section:nth-child(2n+1){
  background-color: white;
}

section {
  text-align: center;
  padding: 2rem 1rem;
  box-sizing: border-box;
  width: 100%;
}

section .banner{
  border-radius: 20px;
  width: 100%;
  max-width: 700px;
}

.mockup-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
}

.mockup-list img {
  flex: 1;
  width: 33% !important;
  height: auto !important;
  max-width: 200px;
}

h2 {
  color: #F00;
}

h3 {
  font-weight: 300;
}

.card {

  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;

  justify-content: center;
  align-items: center;

  padding: 50px 20px;

  background: white;
  border: none;
  border-radius: 0;

}

.card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card .card-img {
  width: 100%;
  max-width: 420px;
  height: 400px;
  object-fit: cover;
}

.card h1, .card h2 {
  font-weight: 300;
}


.card:has(img.large){
  text-align: center;
  flex-direction: column;
}

.card img.large {
  margin: auto;
}

.stacked-images {
  position: relative;
  top: 0;
  left: 0;
  padding-right: var(--stacked-image-padding);
}

.stacked-images img{
  max-width: 180px;
  height: auto;

}

.stacked-images img:nth-child(1){
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}

.stacked-images img:nth-child(2){
  position: absolute;
  left: var(--stacked-image-padding);
  z-index: 1;
}


#card-header {
  box-shadow: 0 15px 0 #f00;
}

#card-about {
  flex-direction: column;
  box-shadow: 0 15px 0 #D38530;
}

#card-projects {
  box-shadow: 0 15px 0 #A930D3;
}

#card-header .button {
  background-color: #f00;
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
  margin-bottom: 1rem;
}

#card-header em {
  color: #f00;
  text-align: center;
}

#card-about img {
  border-radius: 20px;
}

#card-about a {
  color: #D38530;
}


#card-projects a {
  color: #A930D3;

}

section a {
  color: #00767D;
  font-weight: 300;
}

footer {
  padding: 20px;
  background-color: #D7EDEE;
  margin-top: auto;
  text-align: center;


}

footer a{
  flex-direction: column;
  flex: 1;
}

.contact-options {
  display: flex;
  flex-direction: column;
}

/* medium screens */
@media (min-width: 700px) {


  :root {
    --stacked-image-padding: 70px;
  }

  main {
    padding-bottom: 2rem;
  }

  body:has(.card) {
    /*background: url(/img/home/background_image.svg);*/
    background: url(/img/home/background_image.svg);
    /*background-color: #D7EDEE;*/
  }

  .content:has(.card) {
    gap: 50px;
  }


  .content {
    padding: 0 3rem;
  }

  .card {
    /* overwrite every other colour changing */
    background-color: white !important;

    flex-direction: row;
    text-align: left;
    gap: 2rem;
    margin-bottom:2rem;

    border: 5px solid black;
    border-radius: 25px;
  }
  
  .card .card-img {
    width: 20rem;
  }

  /* mockup images are treated differently */
  .stacked-images img{
    max-height: 400px;
    width: auto;
    min-width: 0;
  }


  #card-header {
    box-shadow: 15px 15px 0 #f00;
  }
  
  #card-projects {
    box-shadow: 15px 15px 0 #A930D3;
  }
  
  #card-about {
    flex-direction: row-reverse;

    box-shadow: 15px 15px 0 #D38530;

  }

  .contact-options {
    flex-direction: row;

  }
}
