@media (prefers-color-scheme: light) {

    body.system-theme {
        --text-secondary: var(--white);
        --text-primary: var(--black);
        --navbar-color: var(--gray);
        --background-primary: var(--white);
        --background-secondary: var(--light-blue);
        --background-color: var(--white);
        --footer-background: var(--light-blue);
        --background-image-url: url(/img/home/background_image.svg);
    }

    body.system-theme #theme-button:after {
        content: "🌙";
    }

}
@media (prefers-color-scheme: dark) {

    body.system-theme {
        --text-secondary: var(--white);
        --text-primary: var(--white);
        --navbar-color: var(--dark-black);
        --background-primary: var(--gray);
        --background-secondary: var(--light-gray);
        --background-color: var(--gray);
        --footer-background: var(--dark-black);
        --background-image-url: url(/img/home/background_image_dark.svg);
    }

    body.system-theme #theme-button:after {
        content: "☀️";
    }
}

#theme-button {
    border: none;
    background-color: var(--navbar-color);
    padding: 5px 0;
    /*margin: auto;*/
    border-radius: 20px;
    width: 3.5rem;
    z-index: 10;

    cursor: pointer;
    font-size: xx-large;
}

#theme-button-wrapper{
    position: relative;
    /*top: 1rem;*/
    left: -60px;
    padding: 1rem;
    transition: left 0.5s ease;
}

#theme-button-wrapper:hover {
    left: 0;
}


@media (min-width: 700px) {

    #theme-button-wrapper {
        position: absolute;
        top: calc(1rem + var(--navbar-height));
        padding: 0 1rem;
        left: 0;

    }

}